**/scrapers2implement
**/__pycache__/
**/__downloades_files__/
**/downloades_files/
**/tmp/*.png
*.txt
**/.pytest_cache
**/.ipynb_checkpoints
*.log
**.DS_Store
!empty.txt
frontend/app/static/video/RAT-Demo.mp4
