**/__pycache__/
**/__downloades_files__/
**/downloaded_files/
**/tmp/*.png
**/.pytest_cache
**/.ipynb_checkpoints
*.log
**.DS_Store
!empty.txt
**/node_modules/
tests/coverage/
.vscode/settings.json
rat-backend/config/config_db.ini
rat-backend/config/config_sources.ini
rat-frontend/.env
rat-storage/.env
rat-backend/query_sampler/google-ads.yaml
