{% extends "master.html" %}

{% block title %}Assessment{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1 class="sr-only">RAT</h1>
<div class="row">
  <div class="col-3">
    <div class="row mb-2 py-0">
      <div class="col-10">
        <div class="progress" style="height: 25px">
          <div class="progress-bar bg-secondary" role="progressbar" style="width: {{pct}}%;" aria-valuenow="{{closed}}" aria-valuemin="0" aria-valuemax="{{all}}"></div>
        </div>
      </div>
      <div class="col text-start">
        {{ (pct | round(0) | string)[:-2] }}%
      </div>

    </div>
    {% if answer.study.task %}
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <p class="card-text">{{ answer.study.task | replace('***', '<b>'~answer.result.query_.query~'</b>') | safe}}</p>
      </div>
    </div>
    {% endif %}
    <div class="card mb-4 shadow-sm">
      <div class="card-header"><b>{{ answer.question.title }}</b></div>
      <form method="POST">
        {{ question_display(answer.question, form) }}
        <div class="card-body">
          {{ form.submit(class_="btn btn-outline-primary btn-sm") }}
          {{ form.skip(class_="btn btn-link btn-sm ms-2") }}
        </div>
      </form>
    </div>
  </div>
  <div class="col-9">
    {% if "html" in answer.result.sources[0].content_type %}
      <embed class="source-container" src="data:image/png;base64,{{ answer.result.sources[0].bin.decode('ascii') }}" />
    {% elif "pdf" in answer.result.sources[0].content_type %}
      <embed class="source-container" width="100%" src="data:application/pdf;base64,{{ answer.result.sources[0].bin.decode('ascii') }}" />
    {% else %}
      <embed class="source-container" src="data:image/png;base64,{{ answer.result.sources[0].bin.decode('ascii') }}" />
    {% endif %}
  </div>
</div>
{% endblock %}
