body {
  padding-top: 100px;
  /*padding-bottom: 100px;*/
  background-color: #f8f9fa !important;
  font-size:0.9rem;
}

.bg-blue {
  padding-top: 50px;
  background-color: #e6eaed !important;
}

a {
  color: #0055A1;
  text-decoration: none;
}

ul {
  border: none;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-xs {
  padding: .1rem .3rem;
  font-size: .75rem;
}

#loading {
  font-size: 4rem;
  text-align: center;
  color: #aaa;
  padding-top: 15%;
}

.text-small {
  font-size: 0.8rem;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: #000;
}

.nav-pills .nav-link {
  font-size: 0.8rem;
}

.nav-pills .nav-link .step-number {
  background-color: #aaa;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  width: 48px !important;
  height: 48px;
  text-align: center;
}

.nav-pills .nav-link.active .step-number {
  background-color: #6c757d;
  color: #fff;
}

.nav-pills .nav-link .step-text {
  color: #aaa !important;
  text-align: left;
  padding: 0 10px;
  background-color: #f8f9fa;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: .05rem;
}

.nav-pills .nav-link.active .step-text {
  color: #333 !important;
  font-weight: 800;
}

.nav-pills .nav-link table {
  padding-left: 30px;
  background-color: #f8f9fa;
  width: 95%;
}

ul#result_types {
  columns: 2;
  padding-left: 20px;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul#search_engines {
  columns: 3;
  padding-left: 20px;
  -webkit-columns: 3;
  -moz-columns: 3;
}

ul.cols {
  columns: 3;
  padding-left: 0;
  -webkit-columns: 3;
  -moz-columns: 3;
}

@media (max-width: 720px) {
  .nav-pills .nav-link table {
    padding-left: 0px;
    width: 100%;
  }

  .step-number {
    padding: 0 17px !important;
  }

  ul#result_types {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  ul#search_engines {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  ul.cols {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.divider {
  text-align: center;
  position: relative;
  background-color: #fff;
}

.divider .border {
  border-bottom: 3px solid #333;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}

.divider .text {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding: 10px;
  display: inline-block;
}

.help a {
  color: #888;
}

.progress-fixed {
  position: fixed;
  width: 50%;
  left: 25%;
  top: 130px;
  margin-top: -1px;
  z-index: -1;
}

.navbar-toggler, .navbar-toggler:focus {
  border: none;
  box-shadow: none;
  font-weight: 500;
}

.accordion .accordion-item .accordion-button {
  font-weight: 600;
  padding: 10px;
  font-size: .75rem;
  color: #212529;
  background-color: #fff !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button.collapsed {
  color: #777 !important;
}

.accordion-body {
  padding: 0 10px;
}

.accordion-button::after {
  width: auto;
  height: auto;
  font-family: "Font Awesome 5 Free";
  content: "\2b";
  font-size: .75rem;
  background-image: none;
  color: #777;
  transform: translateY(-4px);
}

.accordion-button:not(.collapsed)::after {
  width: auto;
  height: auto;
  background-image: none;
  font-family: "Font Awesome 5 Free";
  content: "\f068";
  font-size: .75rem;
  transform: translate(-5px, -4px);
  transform: rotate(0deg);
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

#study-overview .nav-link {
  background-color: #f8f9fa;
  margin-bottom: 5px;
  color: #777;
  padding: 0.5rem 1.25rem;
}

#study-overview .nav-link.active {
  background-color: #33778a;
  color: #fff;
}

.nav-link-heading {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
  padding: 10px 0;
}

.form-control {
  padding: .375rem .75rem;
}

.summary-desc {
  text-transform: uppercase;
  letter-spacing: .05rem;
  font-size: 0.7rem;
  color: #868e96;
  font-weight: bold;
}

.crd-header {
  font-weight: bold;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.img-layer {
  position: fixed;
  bottom: -330px;
  left: -430px;
  z-index: -9999;
  opacity: .15;
}

.img-layer img {
  width: 800px;
}

.hover-text {
  display: none;
}

button:hover .hover-text {
  display: inline-block;
}

.source-container {
  min-height: 110vh;
  overflow: visible;
  max-width: 100%;
}

img {
  image-rendering: crisp-edges !important;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.info {
  font-size: 110%;
}