{% extends "master.html" %}

{% block title %}Delete study{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1 class="sr-only">RAT</h1>

<div class="row">
  <div class="col">
    <h3>Delete Monitoring</h3>
    <form method="POST" class="card p-4 shadow-sm">
      <div class="mb-3">Are you sure you want to delete {{ monitoring.name }}?</div>
      <div class="mb-3">
        {{ form.cancel(class_="btn btn-secondary") }}
        {{ form.submit(class_="btn btn-danger") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
