{% extends "master.html" %}

{% block title %}Studies{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1 class="sr-only">RAT</h1>

<div class="row">
  <div class="col">
    <h2>Studies</h2>
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Study Type</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th></th>
      </thead>
      <tbody>
        {% for s in studies %}
        <tr>
          <td>{{ s.name }}</td>
          <td>{{ s.studytype.name }}</td>
          <td>{% if s.created_at %}
            {{ s.created_at.strftime('%d.%m.%Y') }}
          {% endif%}</td>
          <td>{% if s.updated_at %}
            {{ s.updated_at.strftime('%d.%m.%Y') }}{% else %}－
          {% endif %}</td>
          <td><a href="{{ url_for('study', id=s.id) }}" class="link-secondary"><i class="fas fa-search"></i></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
