{% extends "master.html" %}

{% block title %}Create new monitoring{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1 class="sr-only">RAT</h1>

<div class="row">
  <div class="col">
    <h3>Create new monitoring</h3>
    <form method="POST" class="card p-4 shadow-sm" enctype="multipart/form-data">
      <div class="mb-3">
        {{ form.name.label(class_="form-label") }}
        {{ form.name(class_="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.description.label(class_="form-label") }}
        {{ form.description(class_="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.queries.label(class_="form-label") }}
        {{ form.queries(class_="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.countries.label(class_="form-label") }}
        {{ form.countries() }}
      </div>
      <div class="mb-3">
        {{ form.result_count.label(class_="form-label") }}
        {{ form.result_count(class_="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.result_type.label(class_="form-label") }}
        {{ form.result_type(class_="form-select") }}
      </div>
      <div><div class="form-label">Interval</div></div>
      <div class="row mb-3">
        <div class="col-6">
          {{ form.interval_frequency(class_="form-select") }}
        </div>
        <div class="col-6">
          {{ form.interval_mode(class_="form-select") }}
        </div>
      </div>
      <div class="mb-3">
        {{ form.submit(class_="btn btn-primary") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
