<!-- Form to create a new study -->

{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}

<!-- Generate alert messages and show errors because of missing required inputs -->
{% block messages %}
{{super()}}
{%if form.errors %}
<ul class="alert alert-danger">
    {% for field, errors in form.errors.items() %}
    <li>{{field}} {% for error in errors %}{{ error }}{% endfor %}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}


{% block content %}


<div class="card col-md-6 offset-md-3">
    <div class="card-body">
        <h4 class="crd-header">Create new study</h4>
        <form action="#" method="post">
            {{ form.csrf_token }}
            <label class="col-sm-3 col-form-label">Study Name</label><br />
            {{ form.name }}
            <br /><br />
            <br />
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>



    </div>
</div>

{% endblock %}