{% extends "master.html" %}

{% block title %}Log In{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors %}

{% block content %}

{% include "security/_messages.html" %}
<div class="card col-md-6 offset-md-3">
  <div class="card-body">
    <h4 class="crd-header">Log In</h4>
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
      {{ login_user_form.hidden_tag() }}

      <div class="mb-3">
        {{ render_form_errors(login_user_form) }}
      </div>

      <div class="mb-3">
        Don't have an account, yet?
        <a href="{{url_for('security.register')}}" class="btn btn-primary btn-sm ms-2">
          <i class="fa-solid fa-user-plus me-2"></i>
          Register
        </a>
      </div>

      <div class="mb-3">
        {{ render_field_with_errors(login_user_form.email, class_="form-control") }}
      </div>

      <div class="mb-3">
        {{ render_field_with_errors(login_user_form.password, class_="form-control") }}
      </div>

      <div class="mb-3">
        {{ render_field_with_errors(login_user_form.remember, class_="form-check-input") }}
      </div>

      <div class="mb-3">
        {{ render_field(login_user_form.next, class_="form-control") }}
      </div>

      <div class="mb-3">
        {{ login_user_form.submit(class="btn btn-outline-primary me-2") | safe }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
