{% extends "master.html" %}

{% block title %}Register{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors %}

{% block content %}

{% include "security/_messages.html" %}
<div class="card col-md-6 offset-md-3">
  <div class="card-body">
    <h4 class="crd-header">Register</h4>
      <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
      {{ register_user_form.hidden_tag() }}

      <div class="mb-3">
        {{ render_form_errors(register_user_form) }}
      </div>

      <div class="mb-3">
        Already have an account?
        <a href="{{url_for('security.login')}}" class="btn btn-primary btn-sm ms-2">
          <i class="fa-solid fa-arrow-right-to-bracket me-2"></i>
          Log in
        </a>
      </div>

      <div class="mb-3">
        {{ render_field_with_errors(register_user_form.username, class_="form-control") }}
      </div>

      <div class="mb-3">
        {{ render_field_with_errors(register_user_form.affiliation, class_="form-control") }}
      </div>

      <div class="mb-3">
        {{ render_field_with_errors(register_user_form.email, class_="form-control") }}
      </div>

      <div class="mb-3">
        {{ render_field_with_errors(register_user_form.password, class_="form-control") }}
      </div>

      {% if register_user_form.password_confirm %}
      <div class="mb-3">
        {{ render_field_with_errors(register_user_form.password_confirm, class_="form-control") }}
      </div>
      {% endif %}

      <div class="mb-3">
        {{ register_user_form.submit(class="btn btn-outline-primary me-2") | safe }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
