{% extends "master.html" %}

{% block title %}Contact{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1 class="sr-only">RAT</h1>

<div class="row pt-3 m-5 align-items-top justify-content-center" style="min-height: 400px">
  <div class="col-md-8 pt-5 mb-5">
    <form method="post" class="card p-3">
      <h5>Contact</h5>
      <p class="mb-3">
        Do you have any questions, feedback, or want to tell us something else?
        Contact us using the form below and we will get back to you.</p>
      <div class="mb-3">
        {{ form.name.label(class_="form-label")}}
        {{ form.name(class_="form-control")}}
      </div>
      <div class="mb-3">
        {{ form.email.label(class_="form-label")}}
        {{ form.email(class_="form-control")}}
      </div>
      <div class="mb-3">
        {{ form.message.label(class_="form-label")}}
        {{ form.message(class_="form-control")}}
      </div>
      <div class="mb-3">
        {{ form.submit(class_="btn btn-primary float-end") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
