{% extends "master.html" %}

{% block title %}Features{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1 class="sr-only">RAT</h1>

<div class="row pt-3 m-5 align-items-top justify-content-center" style="min-height: 400px">
  <div class="col-md-8 p-4 my-5 card">
    <h5>Features</h5>
    <p>Currently, RAT is only available as a demo.
      The table below shows limited features in this version but will be more expansive in the full version.
      If you have questions, <a href="{{url_for('about')}}">learn more</a> about RAT or <a href="{{url_for('contact')}}">contact us</a>.</p>
    <table class="table table-responsive table-borderless">
      <tr>
        <th>Feature</th>
        <th class="bg-light">Demo Version</th>
        <th>Full Version</th>
      </tr>
      <tr>
        <td>Number of Search Engines</td>
        <td class="bg-light">2 (Google/Bing)</td>
        <td>12</td>
      </tr>
      <tr>
        <td>Number of Queries</td>
        <td class="bg-light">3</td>
        <td>up to 400</td>
      </tr>
      <tr>
        <td>Number of Results collected per Query</td>
        <td class="bg-light">10</td>
        <td>1 - all</td>
      </tr>
      <tr>
        <td>Number of Question Types</td>
        <td class="bg-light">1 (True/False)</td>
        <td>6</td>
      </tr>
    </table>
  </div>
  <div class="my-5"></div>
</div>
{% endblock %}
