{% extends "master.html" %}

{% block title %}Dashboard{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<h1 class="sr-only">RAT</h1>

<div class="row mb-4">
<div class="col-8 offset-2">
<div class="card">
<div class="card-body">
<div class="py-2">
<table class="table table-sm table-borderless">
<tr>
<td>E-Mail:</td>
<td>{{ user.email }}</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>

<div class="row mb-4">
<div class="col-8 offset-2">
<div class="card">
<div class="card-body">
<div class="hstack">
<div class="crd-header">RAT Studies</div>
</div>
<div class="py-2">
{% if rat_studies %}
{% for s in rat_studies %}
<div class="row align-items-center py-2">
<div class="col-md-10">
<a class="text-dark" href="{{ url_for('study', id=s.id) }}">{{ s.name }}</a>
</div>
<div class="col-md-2">
<div class="btn-group" role="group">
<a href="{{ url_for('study', id=s.id) }}" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="View"><i class="fa-solid fa-eye"></i></a>
{% if s.status == 0 %}
<a href="{{ url_for('edit_study', id=s.id) }}" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Edit"><i class="fa-solid fa-pen"></i></a>
{% endif %}
<a href="{{ url_for('delete_study', id=s.id) }}" class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-title="Delete"><i class="fa-solid fa-trash"></i></a>
</div>
</div>
</div>
{% endfor %}
{% else %}
<div class="row align-items-center py-2">
<div class="col-md-12">
<a href="{{ url_for('new_study') }}"><i class="fa-solid fa-angles-right me-1"></i> Create a new study!</a>
</div>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-8 offset-2">
<div class="card">
<div class="card-body">
<div class="hstack">
<div class="crd-header">Query Sampler Studies</div>
</div>
<div class="py-2">
{% if qs_studies %}
{% for s in qs_studies %}
<div class="row align-items-center py-2">
<div class="col-md-10">
<a class="text-dark" href="{{ url_for('show_qs_study', id=s.id) }}">{{ s.name }}</a>
</div>
<div class="col-md-2">
<div class="btn-group" role="group">
<a href="{{ url_for('show_qs_study', id=s.id) }}" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="View">
<i class="fa-solid fa-eye"></i>
</a>
<!-- HINZUGEFÜGTE BUTTONS -->
<a href="{{ url_for('edit_qs_study', id=s.id) }}" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Edit">
<i class="fa-solid fa-pen"></i>
</a>
<a href="{{ url_for('delete_qs_study', id=s.id) }}" class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-title="Delete">
<i class="fa-solid fa-trash"></i>
</a>
</div>
</div>
</div>
{% endfor %}
{% else %}
<div class="row align-items-center py-2">
<div class="col-md-12">
<a href="{{ url_for('new_qs_study_wizard') }}"><i class="fa-solid fa-angles-right me-1"></i> Create a new Query Sampler study!</a>
</div>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

{% endblock %}