{% macro nav_link(endpoint, text, icon) %}
{# Generate a navigation link with a given endpoint, text, and icon #}
{% if request.endpoint is not none and request.endpoint.endswith(endpoint) %}
<li class="nav-item ms-3">
  <a class="nav-link active fw-semibold" href="{{ url_for(endpoint) }}">
    <i class="{{ icon }} me-2"></i> {{ text }}
  </a>
</li>
{% else %}
<li class="nav-item ms-3">
  <a class="nav-link" href="{{ url_for(endpoint) }}">
    <i class="{{ icon }} me-2"></i> {{ text }}
  </a>
</li>
{% endif %}
{% endmacro %}

{% macro render_form_errors(form) %}
{# Display form errors if there are any #}
{% if form.errors %}
<div class="form-errors">
  <ul>
    {# Iterate over form errors #}
    {% for field, errors in form.errors.items() %}
    {% for error in errors %}
    <li>{{ field }}: {{ error }}</li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endmacro %}

{% macro nav_link_id(endpoint, id, text, icon) %}
{# Generate a navigation link with an endpoint, participant ID, text, and icon #}
{% if request.endpoint is not none and request.endpoint.endswith(endpoint) %}
<li class="nav-item ms-3">
  <a class="nav-link active fw-semibold" href="{{ url_for(endpoint, participant_id=id) }}">
    <i class="{{ icon }} me-2"></i> {{ text }}
  </a>
</li>
{% else %}
<li class="nav-item ms-3">
  <a class="nav-link" href="{{ url_for(endpoint, participant_id=id) }}">
    <i class="{{ icon }} me-2"></i> {{ text }}
  </a>
</li>
{% endif %}
{% endmacro %}

{% macro nav_link_id_id(endpoint, participant, study, text, icon) %}
{# Generate a navigation link with an endpoint, participant ID, study ID, text, and icon #}
{% if request.endpoint is not none and request.endpoint.endswith(endpoint) %}
<li class="nav-item ms-3">
  <a class="nav-link active fw-semibold" href="{{ url_for(endpoint, participant_id=participant, study_id=study) }}">
    <i class="{{ icon }} me-2"></i> {{ text }}
  </a>
</li>
{% else %}
<li class="nav-item ms-3">
  <a class="nav-link" href="{{ url_for(endpoint, participant_id=participant, study_id=study) }}">
    <i class="{{ icon }} me-2"></i> {{ text }}
  </a>
</li>
{% endif %}
{% endmacro %}

{% macro question_(display, title) %}
{# Return an icon and title based on the type of question display #}
{% if display == 'short_text' %}
<i class="fas fa-grip-lines"></i> {{ title }}
{% elif display == 'long_text' %}
<i class="fas fa-align-justify"></i> {{ title }}
{% elif display == 'true_false' %}
<i class="fas fa-toggle-on"></i> {{ title }}
{% elif display == 'likert_scale' %}
<i class="fas fa-ellipsis-h"></i> {{ title }}
{% elif display == 'multiple_choice' %}
<i class="fas fa-grip-horizontal"></i> {{ title }}
{% elif display == 'scale_number' %}
<i class="fas fa-sliders-h"></i> {{ title }}
{% else %}
{{ title }}
{% endif %}
{% endmacro %}

<!-- test -->
{% macro question_display(question, form) %}
{# Render the form field based on the type of question display #}
{% if question.questiontype.display == 'short_text' %}
{{ form.short_text(class_="form-control") }}

{% elif question.questiontype.display == 'long_text' %}
{{ form.long_text(class_="form-control") }}

{% elif question.questiontype.display == 'true_false' %}
<table class="table table-borderless mb-0 ms-4">
  {# Iterate over true/false options and display them #}
  {% for radio in form.true_false %}
  <tr>
    <td width="1%">{{ radio }}</td>
    <td>{{ radio.label(class_="form-label d-block my-0")}}</td>
  </tr>
  {% endfor %}
</table>

{% elif question.questiontype.display == 'likert_scale' %}
<table class="table table-borderless mb-0 ms-4">
  {# Iterate over likert scale options and display them #}
  {% for radio in form.likert_scale %}
  <tr>
    <td width="1%">{{ radio }}</td>
    <td>{{ radio.label(class_="form-label d-block my-0")}}</td>
  </tr>
  {% endfor %}
</table>

{% elif question.questiontype.display == 'multiple_choice' %}
<div class="m-4">
  {{ form.multiple_choice() }}
</div>

{% elif question.questiontype.display == 'scale_number' %}
<div class="row mb-2 m-4">
  <div class="col-6" id="scale_start"></div>
  <div class="col-6 text-end" id="scale_stop"></div>
  <div class="col-12">{{ form.scale_number(class_="form-range") }}</div>
</div>

{% endif %}
{% endmacro %}