{% extends "master.html" %}

{% block title %}Participants{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1 class="sr-only">RAT</h1>
<div class="pb-4">
  <a class="text-dark" href="{{ url_for('study', id=study.id) }}"><i class="fa-solid fa-angle-left me-2"></i> Back to Study</a>
</div>
<div class="row">
  <div class="col pb-4">
    <div class="card">
      <div class="card-body">

        <div class="hstack">
          <div class="crd-header">Participants</div>
        </div>

        <div class="py-2">
          <table class="table table-striped table-borderless">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Finished Evaluations</th>
              <th>Open Evaluations</th>
              <th>Skipped Evaluations</th>
              <th>Created at</th>
              <th>URL (for Demo)</th>
            </thead>
            {% for p in info %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ p[0].name }}</td>
                <td>{{ p[3] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[4] }}</td>
                <td>{{ p[0].created_at.strftime('%d.%m.%Y') }}</td>
                <td><a href="{{url_for('participant', id=p[0].id)}}">Participate</a></td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
