{% extends "master.html" %}

{% block title %}About{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1 class="sr-only">RAT</h1>

<div class="row pt-3 m-5 align-items-top justify-content-center" style="min-height: 400px">
  <div class="col-12 pt-3 mb-5">
  <div class="card p-5 border-0" style="opacity:.9">
    <h5>Imprint</h5>
    <p>Note: This is a private website of the Result Assessment Tool maintained by the Search Studies research group and not a website of the Hamburg University of Applied Sciences.</p>
    <p>Responsibility for content pursuant to § 5 Telemediengesetz (Section 5, German Telemedia Act):</p>
    <p>Search Studies research group</p>
    <p>c/o Hamburg University of Applied Sciences<br />
      Faculty of Design, Media and Information<br />
      Department of Information<br />
      Finkenau 35<br />
      22081 Hamburg</p>
    <p>Represented by:</p>
    <p>Prof. Dr. Dirk Lewandowski</p>
    <p>Contact<br />
      Call: (+49) 40 – 428 75-36 21<br />
      Email: dirk.lewandowski@haw-hamburg.de</p>
    <p>Editorially responsible</p>
    <p>Prof. Dr. Dirk Lewandowski</p>
  </div>
  </div>
</div>
{% endblock %}
